
     <div class="container" ng-controller="ContactController">
        <div class="row">
            <div class="col-xs-12">
               <ul class="breadcrumb">
                   <li><a href="#">Home</a></li>
                   <li class="active">How To</li>
               </ul>
            </div>
            <div class="col-xs-12">
               <h3>How To</h3>
               <hr>
            </div>
        </div>
        
        <div class="row row-content">
           <div class="col-xs-12">
              <h3>Lasic Lager</h3> 
           </div>
            <div class="col-xs-12 col-sm-4 col-sm-offset-1">
                   <h4>Steps</h4>
                      <ul>
                        <p>1. Bring water to 180 degrees F.</p>
                        <p>2. Steep malt in water for one hour.</p>
                        <p>3. Bring solution to boil and boil for one hour.</p>
                        <p>4. Add hops at timed intervals</p>
                        <p>5. Cool and pleace in fermenter with yeast.</p>
                        <p>6. Wait 3-4 weeks. Keg, carbinate, and drink.</p>
                      </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-offset-1">
                <h4>Ingredients</h4>
                      <ul>
                        <p>1. Malt</p>
                        <p>2. Different Malt</p>
                        <p>3. Yeast</p>
                        <p>4. Hops</p>
                      </ul>
            </div>
  
        </div>
    </div>
